asgiref
asn1crypto
astroid
attrs
autobahn
Automat
autopep8
certifi
cffi
chardet
colorama
constantly
cryptography
defusedxml
Django
django-allauth
django-crispy-forms
django-tinymce4-lite
hyperlink
idna
incremental
isort
jsmin
lazy-object-proxy
mccabe
oauthlib
pep8
Pillow
psycopg2
pycodestyle
pycparser
PyHamcrest
pylint
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
txaio
typed-ast
urllib3
wrapt
zope.interface
django-countries
stripe
django_autoslug
opencv-python-headless
opencv-contrib-python-headless
scikit-learn
matplotlib

gunicorn
django-heroku
whitenoise