{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block head_title %}{% endblock %} | iShopper</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	{% include "partials/css.html" %}
<!--===============================================================================================-->
	{% block extra_head %} {% endblock %}
</head>

<body class="animsition">

    {% block header %}{% endblock header %}
    <!-- Cart -->
    <!-- Content -->
    {% block content %}
    	{% block breadcrumb %}{% endblock breadcrumb %}
    {% endblock content %}

    {% include 'partials/footer.html' %}
    {% include 'partials/scripts.html' %}

</body>

</html>