{% extends "base.html" %}

{% block head_title %} Order Summary {% endblock %}

{% block header %}
  {% include "partials/page_header.html" %}
{% endblock header %}

{% block content %}
    {% block breadcrumb %}
        <div class="container">
            <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
                <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
                    Home
                    <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
                </a>

                <span class="stext-109 cl4">
                    Shoping Cart
                </span>
            </div>
        </div>
    {% endblock breadcrumb %}

    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">Quantity</th>
                                    <th class="column-5">Total</th>
                                </tr>
                                {% for order_item in object.items.all %}
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="{{ order_item.item.image.url }}" alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2">{{ order_item.item.title }}</td>
                                        <td class="column-3">$ 
                                            {% if order_item.item.discount_price %}
                                                {{ order_item.item.discount_price }}
                                            {% else %}
                                                {{ order_item.item.price }}
                                            {% endif %}
                                        </td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </a>

                                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="{{ order_item.quantity }}">

                                                <a href="{% url 'core:add-to-cart' order_item.item.slug %}" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="column-5">$ 
                                            {% if order_item.item.discount_price %}
                                                ${{ order_item.get_total_discount_item_price }}
                                                <span class="badge badge-primary">
                                                    Saving ${{ order_item.get_amount_saved }}
                                                </span>
                                            {% else %}
                                                ${{ order_item.get_total_item_price }}
                                            {% endif %}
                                            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                                                <i class="fs-30 zmdi zmdi-close float-right"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr align="center">
                                        <td colspan='5'>Your cart is empty</td>
                                    </tr>
                                {% endfor %}
                                <tr align="center">
                                    <td colspan="5">
                                        <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                                    </td>
                                </tr>
                                {% if object.coupon %}
                                    <tr>
                                        <td colspan="4"><b>Coupon</b></td>
                                        <td><b>-${{ object.coupon.amount }}</b></td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
                {% if object.get_total %}
                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Subtotal:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2">
                                    ${{ object.get_total }}
                                </span>
                            </div>
                        </div>
                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">
                                    Total:
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2">
                                    ${{ object.get_total }}
                                </span>
                            </div>
                        </div>

                        <a href="{% url 'core:checkout' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Proceed to Checkout
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock content %}


